body, html {
    background-image: url(https://images.unsplash.com/photo-1422246654994-34520d5a0340?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    background-repeat: round;
    font-family: 'Merriweather', serif;
    height: 100%;
}




/* .main {
    background-image: url(https://images.unsplash.com/photo-1422246654994-34520d5a0340?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Merriweather', serif;
    height: 110%;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1vw;
    font-size: 2vw;
    font-weight: bolder;
    color: rgba(240, 248, 255, 0.808);
    margin: .5vw;
    text-shadow: 2px 3px 1px black;
    text-decoration: none;
    width: 97%
}
.navDisplay {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1px;
    
    

}

.navLinks {
    display: flex;
    text-decoration: none;
}

.sampleImg {
    color: rgba(247, 247, 247, 0.911);
    box-shadow: 5px 5px rgba(245, 245, 245, 0.116);
    border-radius: 21px;
    
}

.infoDis{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: rgba(151, 140, 140, 0.688);
    padding-top: 1.5vw;
    padding: .5vw;
    margin: .5vw;
    font-size: 1vw;
    color: rgba(240, 248, 255, 0.808);
    letter-spacing: .1em;
    border-radius: .5em;
    text-shadow: 2px 2px 1px rgb(14, 3, 0);
    height: 68%;
    width: 95%;
    border: 3px groove rgba(255, 255, 255, 0.336);
    animation: yourAnimation .3s   linear;

}
@keyframes yourAnimation{
    0%{
        transform: scale(0);
        }
    15%{
        transform: scale(0.1);
        }
    30%{
        transform: scale(0.3);
        }
    45%{
        transform: scale(0.5);
        }
    60%{
        transform: scale(0.7);
        }
    75%{
        transform: scale(0.9);
        }
    90%{
        transform: rotate(xx) scale(1);
        }
    100%{
        transform: rotate(xx) scale(1);
        }
}



.graphDisplay {
    height: 5vh;
    width: 80vw;
    margin-left: 9vw;
    margin-right: 0em;
    margin-bottom: 3vh;
    
}

.sectionScroll {
 height: 72vh;
 width: 22vw;
overflow: auto;
}

.sectionScroll::-webkit-scrollbar {
    width: 1em;
}

.sectionScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.sectionScroll::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169, 0.712);
    outline: 1px solid slategrey;
  }
    


.updateInfo {
    display: flex;
    flex-direction: column;
    align-items: center
}

.listDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.793);
    border-radius: 1em;
   padding-left: 1.3em;
   margin-right: .6em;
   border: 2px solid rgba(255, 255, 255, 0.692);
   list-style-type: circle;
}

.checkedList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.793);
    border-radius: 1em;
   padding-left: 1.3em;
   margin-right: .6em;
   border: 2px solid rgba(255, 255, 255, 0.692);
   list-style-type: circle;
   text-decoration: line-through rgba(105, 90, 205, 0.829) solid;
   transition: .55s;

}

.disRun {
    width: .8em;
    background-color: rgba(192, 192, 192, 0.281);
    padding: .09em;
    border: .1rem solid rgba(255, 255, 255, 0.5);
    border-radius: .5em;
    margin-top: .43em
}

.itemBack {
    width: 93%;
    height: 88%;
    background-size: cover;
    border: .2em groove rgba(0, 0, 0, 0.568);
    border-radius: 3em;
    opacity: 0.67;
    background-image: url(https://images.unsplash.com/photo-1553413077-190dd305871c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
}

.driverBack {
    width: 93%;
    height: 88%;
    border: .2em groove rgba(0, 0, 0, 0.568);
    background-size: cover;
    border-radius: 3em;
    opacity: 0.87;
    background-image: url(https://images.unsplash.com/photo-1551218611-f568f5597a45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);
}

.orderBack {
    width: 93%;
 height: 88%;
 background-size: cover;
 border: .2em groove rgba(0, 0, 0, 0.568);
 border-radius: 3em;
 opacity: 0.87;
 background-image: url(https://images.unsplash.com/photo-1552623082-052dd60ef441?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
}


.custBack {
 width: 93%;
 height: 88%;
 border: .2em groove rgba(0, 0, 0, 0.568);
 background-size:cover;
 border-radius: 3em;
 opacity: 0.87;
 overflow: hidden;
 background-image: url( https://images.unsplash.com/photo-1543525324-9146d43c2a4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
}

@media (max-width: 1380px) {
    .infoDis {
        font-size: .9em;
    }
  }

@media (max-width: 900px) {
    .sectionScroll {
        height: 50vh;
        width: 75%
       
    }
            .infoDis {
                flex-direction: column;
                align-items: center;
            }
    }


  @media (max-width: 700px) {
   .disRun {
        width: 3.2vw;
        margin-top: .2em;
   }
  }

@media (max-width: 500px) {
    .infoDis {
        flex-direction: column;
        align-items: center;
    }
    .sectionScroll{
    width: 70vw;
    margin: 2vw;    
    }
    .navbar {
        flex-direction: column;
        align-items: center;
        font-size: 5vw;
    }
}






/* 
@keyframes yourAnimation{
    0%{
        transform: rotate(xx);
        opacity: 0.1;
        }
    25%{
        opacity: 0.3;
        }
    50%{
        opacity: 0.5;
        }
    75%{
        opacity: 0.7;
        }
    100%{
        transform: rotate(xx);
        opacity: 1;
        }
}

.elementToAnimate{
    animation: yourAnimation 1.5s infinite 0s linear; */
